<a href="https://colab.research.google.com/github/SJcodeML/-Python-class-5-to-6-30/blob/main/FunctionsExamples_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Beginner level

1) Write a function greet() that prints "Hello, world!" when called.
   - Example: greet() should output: Hello, world!

In [ ]:
1
def greet():
    print("Hello, world!")

greet()

2) Write a function add_one(x) that takes a number x and returns x + 1.
   - Test: add_one(5) should return 6.

In [ ]:
2
def add_one(x):
    return x + 1
Example:
python
add_one(5)  # 6

3) Write a function is_even(n) that takes an integer n and returns True if n is even, otherwise False.
   - Test: is_even(4) -> True, is_even(7) -> False

In [ ]:
3
def is_even(n):
    return n % 2 == 0
Example:
python
is_even(4)  # True
is_even(7)  # False

4) Write a function square(n) that returns the square of n.
   - Test: square(3) -> 9

In [ ]:
4
def square(n):
    return n * n
Example:
python
square(3)  # 9

5) Write a function color_mixer(primary1, primary2) that takes two color strings (e.g., "red", "blue") and returns a new color string describing the mix (e.g., "purple"). For this beginner version, handle only: red+blue -> purple, red+yellow -> orange, blue+yellow -> green. If the combination isnâ€™t in the list, return "unknown color mix".
   - Test: color_mixer("red","blue") -> "purple"

In [ ]:
5
def color_mixer(primary1, primary2):
    mix = {
        ("red", "blue"): "purple",
        ("red", "yellow"): "orange",
        ("blue", "yellow"): "green",
        ("blue", "red"): "purple",
        ("yellow", "red"): "orange",
        ("yellow", "blue"): "green",
    }
    key = (primary1, primary2)
    return mix.get(key, "unknown color mix")
Example:
python
color_mixer("red", "blue")  # "purple"
color_mixer("red", "green")

6) Write a function absolute_difference(a, b) that returns the absolute difference between two numbers.
   - Test: absolute_difference(5, 2) -> 3, absolute_difference(2, 5) -> 3

In [ ]:
6
def absolute_difference(a, b):
    return abs(a - b)
Example:
python
absolute_difference(5, 2)  # 3
absolute_difference(2, 5)  # 3

7) Write a function greet_person(name) that returns the string "Hello, <name>!" (note the exclamation mark and space).
   - Test: greet_person("Alice") -> "Hello, Alice!"

In [ ]:
7
def greet_person(name):
    return f"Hello, {name}!"
Example:
python
greet_person("Alice")  # "Hello, Alice!"

8) Write a function is_palindrome(s) that checks whether a string s reads the same forward and backward. Return True or False. Ignore case and spaces for this simple version (e.g., "A man a plan" should be treated as a palindrome).
   - Hint: you can preprocess s by removing spaces and lowering case.
   - Test: is_palindrome("Racecar") -> True, is_palindrome("Hello") -> False

In [ ]:
8
def is_palindrome(s):
    cleaned = "".join(ch.lower() for ch in s if ch != " ")
    return cleaned == cleaned[::-1]
Example:
python
is_palindrome("Racecar")  # True
is_palindrome("Hello")

In [ ]:
!pip install pandas

You can replace `pandas` with the name of any other library you wish to install. The `!` prefix indicates that this is a shell command.

9) Write a function multiply_until(n, limit) that starts with a value of 1 and keeps multiplying by n until the product would exceed limit. Return the final product. If limit is less than 1, return 1.
   - Test: multiply_until(3, 20) -> 18 (since 1*3=3, 3*3=9, 9*3=27 would exceed 20)

In [ ]:
9
def multiply_until(n, limit):
    product = 1
    if limit < 1:
        return 1
    while product * n <= limit:
        product *= n
    return product
Example:
python
multiply_until(3, 20)  # 18

10) Write a function fibonacci(n) that returns the nth Fibonacci number, where fib(0) = 0, fib(1) = 1, and fib(n) = fib(n-1) + fib(n-2) for n >= 2.
    - Test: fibonacci(6) -> 8

In [ ]:
10
def fibonacci(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    a, b = 0, 1
    for _ in range(2, n + 1):
        a, b = b, a + b
    return b
Example:
python
fibonacci(6)  # 8

11) Write a function max_of_three(a, b, c) that returns the largest among three numbers.
    - Test: max_of_three(5, 9, 3) -> 9

In [ ]:
11-
def max_of_three(a, b, c):
    return max(a, b, c)
Example:
python
max_of_three(5, 9, 3)  # 9

12) Write a function is_prime(p) that returns True if p is a prime number, otherwise False. Assume p is a positive integer.
    - Hint: check divisibility from 2 up to sqrt(p).
    - Test: is_prime(5) -> True, is_prime(9) -> False

In [ ]:
12
import math

def is_prime(p):
    if p <= 1:
        return False
    if p <= 3:
        return True
    if p % 2 == 0 or p % 3 == 0:
        return False
    i = 5
    w = 2
    while i * i <= p:
        if p % i == 0:
            return False
        i += w
        w = 6 - w
    return True
Example:
python
is_prime(5)  # True
is_prime(9)  # False


13) Write a function count_vowels(s) that returns the number of vowels (a, e, i, o, u) in the string s. Treat uppercase and lowercase as the same.
    - Test: count_vowels("Hello World") -> 3

In [ ]:
13
def count_vowels(s):
    vowels = set("aeiouAEIOU")
    return sum(1 for ch in s if ch in vowels)
Example:
python
count_vowels("Hello World")  # 3


14) Write a function quadratic(a, b, c, x) that evaluates the quadratic expression a*x*x + b*x + c and returns the result.
    - Test: quadratic(1, 2, 1, 3) -> 16

In [ ]:
14
def quadratic(a, b, c, x):
    return a * x * x + b * x + c
Example:
python
quadratic(1, 2, 1, 3)  # 16


15) Write a function swap_values(a, b) that returns the values swapped as a tuple (b, a).
    - Test: swap_values(7, 4) -> (4, 7)

Optional slightly more challenging (still beginner-friendly)

In [ ]:
15
def swap_values(a, b):
    return b, a
Example:
python
swap_values(7, 4)  # (4, 7)


16) Write a function average_of_list(nums) that takes a list of numbers and returns their average. If the list is empty, return None.
    - Test: average_of_list([1, 2, 3, 4]) -> 2.5

In [ ]:
16
def average_of_list(nums):
    if not nums:
        return None
    return sum(nums) / len(nums)
Example:
python
average_of_list([1, 2, 3, 4])  # 2.5

17) Write a function to_upper_first_word(sentence) that capitalizes only the first character of the sentence and leaves the rest unchanged.
    - Test: to_upper_first_word("hello world") -> "Hello world"

In [ ]:
17
def to_upper_first_word(sentence):
    if not sentence:
        return sentence
    return sentence[0].upper() + sentence[1:]
Example:
python
to_upper_first_word("hello world")  # "Hello world"

18) Write a function countdown(n) that prints numbers from n down to 1, then prints "Lift off!". (Use a loop inside the function.)
    - No return value needed; just prints.

In [ ]:
18

def countdown(n):
    for i in range(n, 0, -1):
        print(i)
    print("Lift off!")
Example:
python
countdown(3)
# 3
# 2
# 1
# Lift off!

19) Write a function greet_multiple(names) that takes a list of names and returns a new list with greetings for each name, like ["Hello, Alice!", "Hello, Bob!"].
    - Test: greet_multiple(["Alice", "Bob"]) -> ["Hello, Alice!", "Hello, Bob!"]

In [ ]:
19

def greet_multiple(names):
    return [f"Hello, {name}!" for name in names]


greet_multiple(["Alice", "Bob"])  # ["Hello, Alice!", "Hello, Bob!"]


20) Write a function factorial(n) that returns n! for a non-negative integer n. If n is 0, return 1.
    - Test: factorial(5) -> 120

In [ ]:
20
def factorial(n):
    if n < 0:
        raise ValueError("n must be non-negative")
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result
Example:
python
factorial(5)  # 120